@page "/"

<PageTitle>Index</PageTitle>

  <section>
    <div id="intro" class="bg-image"
      style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/content-creator/img1.jpg'); height: 100vh;">
      <div class="mask" style="background-color: rgba(249, 195, 122, .2);">
        <div class="container font-monospace d-flex justify-content-center align-items-center h-100">
          <div class="row w-100">
            <div class="col-xl-10 mx-auto ">
              <div class=" mask-custom text-center" style="border-radius: .75rem;">
                <div class="p-lg-5 px-1 py-5 text-white">
                  <h1 data-mdb-toggle="animation"
                        data-mdb-animation="browse-in"
                        data-mdb-animation-start="onLoad" 
                        class="mb-3 fw-bold text-uppercase display-1 ">Manage Your Task</h1>
                  <h3 
                    data-mdb-toggle="animation"
                    data-mdb-animation="zoom-in"
                    data-mdb-animation-start="onLoad"
                  class="mb-5 font-weight-bold">Manage your life</h3>
                  <NavLink href="login" class="btn btn-primary shadow-3 btn-rounded btn-lg font-weight-bold">Get started</NavLink>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

